
main > article > h1 {
	margin: 0;
	padding: .1cm .2cm;
	font-size: .35cm;
	color: white;
	text-shadow: 0 0 2px black;
	background-color: rgba(0,0,0,.6);
	letter-spacing: 1px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
